<div class="survey-done">
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo"><img src="https://static.spiceworks.com/shared/extension/0000/0059/Survey%20Icon_large.png"></a>
      <a class="page-title"> HelpDesk Ticket #<%=@ticket_id%> Survey</a>
    </div>
  </nav>

  <h5>Thank you for your feedback!</h5>
  <p>Your response has been recorded.  Your feedback will enable your IT team to better support you.</p>
</div>
